body {
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    margin-top: 10%;
}

.card-header {
    text-align: center;
}

.mb-4 {
    margin-top: 50px;
}

.btn-primary {
    display: block;
    margin: 0 auto;
}

/* Change the background color of the header */
.card-header {
    background-color: #f8f9fa; /* Light gray color */
}

.img{
    max-width: 150px;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
    text-wrap: nowrap;
}